.top-nav-container {
  height: 15%;
  width: 100%;
  background-color: lightpink;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;

}

.search-container{
  display: flex;
  justify-content: center;
}

.top-nav-spacing{
  height: 15%;
  width: 100%;
}
